<!doctype html>
<html lang="en" >

    <footer>
        <div class="f-container" >
            <div class="row-items">
                <!-- 1st column-->
                <div class="column-items">
                    <h4>Get to know Us</h4>
                    <ul>
                        <li><a href="">About SellUrItem</a> </li>
                        <li><a href="">Rules for Posting item</a> </li>
                        <li><a href="">SellUrItem Blog</a> </li>
                    </ul>
                </div>
                <!-- 2nd column-->
                <div class="column-items">
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="">SellUrItem Content</a> </li>
                        <li><a href="">Locations</a> </li>
                        <li><a href="">Mobile App</a> </li>
                    </ul>
                </div>
                <!-- 3rd column-->
                <div class="column-items">
                    <h4>Legal Bits</h4>
                    <ul>
                        <li><a href="">Terms of Use</a> </li>
                        <li><a href="">Privacy Policy</a> </li>
                        <li><a href="">Cookie Policy</a> </li>
                    </ul>
                </div>
                <!-- 4th column-->
                <div class="column-items">
                    <h4>Tips & Help</h4>
                    <ul>
                        <li><a href="">Help & Contact Us</a> </li>
                        <li><a href="">Stay Safe</a> </li>
                        <li><a href="">ID Verification</a> </li>
                    </ul>
                </div>
            </div>
            <hr class="mt-2 mb-3"/>
            <div class="row-items">
                <div class="col">
                    <p>&#169; 2024 SellUrItem. All Rights Reserved.</p>
                </div>
                <div class="social-media-icons">
                    <a href=""><i class="fa-brands fa-facebook"></i> </a>
                    <a href=""><i class="fa-brands fa-instagram"></i> </a>
                    <a href=""><i class="fa-brands fa-x"></i> </a>
                    <a href=""><i class="fa-brands fa-threads"></i> </a>
                </div>
            </div>
        </div>
    </footer>
</html>