<!doctype html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link th:href="@{css/footer_style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/header_style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/login_style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/register_style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/profile_style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/itemProfile_style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/addItem_style.css}" rel="stylesheet" type="text/css"/>
    <title>SellUrItem</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <script>
        function onFullNameEditClick(){
        if (document.getElementById('edit-btn-full-name').innerHTML === 'Edit'){
            document.getElementById('edit-btn-full-name').innerHTML = 'Cancel';
            document.getElementById('fullName').className="show";
            document.getElementById('saveName').className="show";
            }
            else {
            document.getElementById('edit-btn-full-name').innerHTML = 'Edit';
            document.getElementById('fullName').className="hide";
            document.getElementById('saveName').className="hide";
            }
        }
        function onContactEditClick(){
        if (document.getElementById('edit-btn-contact').innerHTML === 'Edit'){
            document.getElementById('edit-btn-contact').innerHTML = 'Cancel';
            document.getElementById('cellNumber').className="show";
            document.getElementById('saveContact').className="show";
            }
            else {
            document.getElementById('edit-btn-contact').innerHTML = 'Edit';
            document.getElementById('cellNumber').className="hide";
            document.getElementById('saveContact').className="hide";
            }
        }
        function onAddressEditClick(){
        if (document.getElementById('edit-btn-address').innerHTML === 'Edit'){
            document.getElementById('edit-btn-address').innerHTML = 'Cancel';
            document.getElementById('street').className="show";
            document.getElementById('city').className="show";
            document.getElementById('postalCode').className="show";
            document.getElementById('state').className="show";
            document.getElementById('country').className="show";
            document.getElementById('additionalDetails').className="show";
            document.getElementById('saveAddress').className="show";
            }
            else {
            document.getElementById('edit-btn-address').innerHTML = 'Edit';
            document.getElementById('street').className="hide";
            document.getElementById('city').className="hide";
            document.getElementById('postalCode').className="hide";
            document.getElementById('state').className="hide";
            document.getElementById('country').className="hide";
            document.getElementById('additionalDetails').className="hide";
            document.getElementById('saveAddress').className="hide";
            }
        }
        function onItemNameEditClick(){
        if (document.getElementById('edit-btn-item-name').innerHTML === 'Edit'){
            document.getElementById('edit-btn-item-name').innerHTML = 'Cancel';
            document.getElementById('itemName').className="show";
            document.getElementById('saveItemName').className="show";
            }
            else {
            document.getElementById('edit-btn-item-name').innerHTML = 'Edit';
            document.getElementById('itemName').className="hide";
            document.getElementById('saveItemName').className="hide";
            }
        }
        function onItemPriceEditClick(){
        if (document.getElementById('edit-btn-item-price').innerHTML === 'Edit'){
            document.getElementById('edit-btn-item-price').innerHTML = 'Cancel';
            document.getElementById('itemPrice').className="show";
            document.getElementById('saveItemPrice').className="show";
            }
            else {
            document.getElementById('edit-btn-item-price').innerHTML = 'Edit';
            document.getElementById('itemPrice').className="hide";
            document.getElementById('saveItemPrice').className="hide";
            }
        }
        function onItemDescriptionEditClick(){
        if (document.getElementById('edit-btn-item-description').innerHTML === 'Edit'){
            document.getElementById('edit-btn-item-description').innerHTML = 'Cancel';
            document.getElementById('itemDescription').className="show";
            document.getElementById('saveItemDescription').className="show";
            }
            else {
            document.getElementById('edit-btn-item-description').innerHTML = 'Edit';
            document.getElementById('itemDescription').className="hide";
            document.getElementById('saveItemDescription').className="hide";
            }
        }
    </script>
</head>
</html>