<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header>
        <nav style="height: 10%;" class="navbar navbar-dark bg-black fixed-top">
            <div class="nav-header">
                <a th:href="@{/home}" style="text-decoration: none;">
                    <img class="icon" src="images/icon.png" alt="icon">
                    <h4 class="nav-heading">SellUrItem</h4>
                </a>
            </div>
            <div class="search-bar" sec:authorize="isAuthenticated()">
                <select class="category" name="category" id="item-category">
                    <option>Category</option>
                    <option value="CELLPHONE">CELLPHONE</option>
                    <option value="ACCESSORIES">ACCESSORIES</option>
                    <option value="COMPUTERS">COMPUTERS</option>
                    <option value="VIDEO_GAMES">VIDEO_GAMES</option>
                    <option value="MUSICAL_INSTRUMENTS">MUSICAL_INSTRUMENTS</option>
                    <option value="BOOKS">BOOKS</option>
                </select>
                <input class="search" type="text" id="search-cat" name="search-category" placeholder="What are you looking for?">
                <button class="search_btn"><i class="fa-solid fa-search"></i> </button>
            </div>
            <div class="btns" sec:authorize="isAuthenticated()">
                <button class="btn"><i class="fa-solid fa-bookmark"></i></button>
                <button class="btn"><i class="fa-solid fa-comment"></i></button>
                <div class="dropdown">
                    <button style="margin-top:8px;" class="btn"><i class="fa-solid fa-user"> <i class="fa fa-caret-down"></i></i></button>
                    <div class="dropdown-content">
                        <a th:href="@{/view-profile}">Go to Profile</a>
                        <a th:href="@{/view-my-items}">My Items</a>
                        <a th:href="@{/add-item}">Add Item</a>
                        <a th:href="@{/logout}">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
</header>
</html>