@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer .f-container{
    background-color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.column ul{
    list-style: none;
}
.column h4{
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
}
.column h4::before{
    content: '';
    width: 10 0px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;
}
.column ul li{
    padding 10px 0;
}
.column ul li a{
    color: white;
    text-decoration: none;
    font-sizeL 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.column ul li a:hover{
    opacity: 2;
}
.col p{
    color: white;
}
.row hr{
    opacity: 0.7;
}
.row .socialIcons i{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.5s;
}
.row .socialIcons i:hover{
    color: #e91e64;
}
@media (max-width: 600px){
    footer .row{
        flex-direction: column;
        padding: 20px 30px;
    }
    footer .column ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }
}