@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.input{
    width: 220px;
}
.login-btn{
    width: 40%;
    margin: 6% 0%;
}
.form-check-input{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 80%;
    border-color: black;
}
.form-check-label{
    font-size: 13px;
    padding-left: 6%;
}
.forgot-password-label{
    font-size: 13px;
}
.register-label{
    font-size: 13px;
    position: absolute;
    top: 86%;
    left: 57%
}
.account-label{
    font-size: 13px;
}
.account-label{
    font-size: 13px;
}