@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.profile-container{
    display: flex;
    justify-content: center;
}
.row-view{
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
}
.edit-fullName{
    position: absolute;
    left: 60.5%;
}
.edit-contacts{
    position: absolute;
    left: 60.5%;
}
.edit-address{
    position: absolute;
    left: 60.5%;
}
.change-password{
    position: absolute;
    left: 54.5%;
}
#additionalDetails{
    width: 72%;
    height: 10rem;
}
.edit-container{
    display: flex;
}
.hide{
  display:none;
}
.show{
  display:block;
}
.edit-container BUTTON{
        margin-top: 8px;
        background-color: gray;
        color: #fff;
        border: 2px solid gray;
        border-radius: 8px;
        width: 55px;
        height: 36px;
}
.edit-container BUTTON:hover{
    color: black;
    background-color: white;
}