@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.additional-address{
    width: 94%;
    height: 10rem;
    margin-bottom: 0.6rem;
}
.register-btn{
    width: 50%;
    margin-top: 8%;
    border-radius: 5px;
}