<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="item-container">
        <form th:action="@{/add-item}"
              th:object="${itemDto}"
              method="post"
        >
            <div class="card" style="width: 350px; display: flex; margin: 45px 20px; margin-left: 40%; align-items: center; border:none; border-color: black; border-radius:10px; ">
                <div class="card-body">
                    <h5>Item Name</h5>
                    <input class="input" type="text" th:field="${itemDto.item.itemName}" id="itemName" name="itemName" placeholder="Enter Item Name">
                    <h5>Item Price</h5>
                    <input class="input" type="number" th:field="${itemDto.item.itemPrice}" id="itemPrice" name="itemPrice" placeholder="Enter item Price">
                    <hr>
                    <h5>Category</h5>
                    <input type="radio" th:field="${itemDto.item.category}" id="cellphone" name="category" value="CELLPHONE" checked="checked" >
                    <label for="cellphone">CELLPHONE</label>
                    <input type="radio" th:field="${itemDto.item.category}" id="accessories" name="category" value="ACCESSORIES" >
                    <label for="accessories">ACCESSORIES</label><br>
                    <input type="radio" th:field="${itemDto.item.category}" id="books" name="category" value="BOOKS" >
                    <label for="books">BOOKS</label>
                    <input type="radio" th:field="${itemDto.item.category}" id="computer" name="category" value="COMPUTERS" >
                    <label for="computer">COMPUTERS/LAPTOP</label><br>
                    <input type="radio" th:field="${itemDto.item.category}" id="video-games" name="category" value="VIDEO_GAMES">
                    <label for="video-games">VIDEO_GAME</label>
                    <input type="radio" th:field="${itemDto.item.category}" id="musical-instruments" name="MUSICAL_INSTRUMENTS" value="FEMALE" >
                    <label for="musical-instruments">MUSICAL-INSTRUMENT</label>
                    <hr>
                    <h5>Item Description</h5>
                    <textarea class="input" th:field="${itemDto.item.itemDescription}" id="itemDescription" name="itemDescription" cols="50" placeholder="Enter Item Description"></textarea>

                    <BUTTON class="add-item-btn" type="submit" id="submit" name="submit">Add Item</BUTTON>
                </div>
            </div>
        </form>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>