<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="login-container">
    <form th:action="@{/change-password}"
          th:object="${profile}"
          method="post">
        <div class="card border-black rounded-0 shadow p-3 mb-5 bg-white rounded" style="width: 350px; display: flex; margin: 45px 20px; margin-left: 40%; align-items: center; border-color: black; ">
            <div class="card-body">
                <input type="hidden" id="id" name="id" th:field="*{profileId}">
                <h5>Enter New Password</h5>
                <input class="input" type="password" id="password" name="password" th:field="*{password}" placeholder="Enter New Password" required>

                <h5 style="padding-top: 5%;">Confirm Password</h5>
                <input class="input" type="password" id="confirm-password" name="confirm-password" oninput="check(this)" placeholder="Confirm Password" required>

                <input style="width: 10rem;" class="login-btn" type="submit" id="login-btn" name="login-btn" value="Update Password">
            </div>
            <script>
                function check(input){
                    if (input.value != document.getElementById('password').value) {
                        input.setCustomValidity('Passwords must match.');
                    }
                    else{
                        input.setCustomValidity('');
                    }
                }
            </script>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>