<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="password-container">
    <form th:action="@{/reset-password}"
          method="post">
            <div class="card" style="width: 350px; display: flex; margin-left: 40%; align-items: center; border:none;">
                <div class="card-body">
                    <h5> Email</h5>
                    <label for="emails"></label>
                    <input class="email-input" type="email" id="emails" name="emails" placeholder="Enter your email" required><br>
                    <input style="margin: 6% 0%;" class="reset-password-btn" type="submit" id="reset-password-btn" name="reset-password-btn" value="Reset Password"><br>
                    <hr>
                    <a th:href="@{/login}">Click here to login</a>
                </div>
            </div>
    </form>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>