<!doctype html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
    <div class="home-container">
        <h2>This is my Home Page</h2>
        <div class="card" style="width:250px; display: inline-block; margin: 45px 20px" th:each="item : ${items}">
            <img class="card-img-top" src="images/avatar-user.png" alt="Card image">
            <ul class="card-body">
                <h4 class="card-title" th:text="${item.itemName}">John Doe</h4>
                <p class="card-text" th:text="${item.itemDescription}">Some example text.</p>
                <p class="card-text" th:text="${item.itemPrice}">Some example text.</p>
                <p class="card-text" th:text="${item.category}">Some example text.</p>
                <!--<p class="card-text" th:text="${item.profile}">Profile Name</p>-->
                <ul class="nav justify-content-center nav-justified">
                    <li class="nav-item">
                    <a class="fa-solid fa-bookmark" href="#" ></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-comment" href="#" ></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa-solid fa-user" th:href="@{/itemProfile-{id}(id=${item.profile.profileId})}" ></a>
                    </li>
                    <!--<a th:href="@{/itemProfile-{id}(id=${item.profile.profileId})}" class="btn btn-primary">See Profile</a>-->
                </ul>
            </ul>
            </div>
        </div>
    </div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>