<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="profile-container">
    <div class="seller-profile" style="width: 50%; margin-left: 25%; margin-top: 20px; margin-bottom: 20px">
        <h2>Seller Information</h2>
        <hr>
        <h5>Name & surname</h5>
        <h6 th:text="${profile.fullName}">John Doe</h6>
        <hr>
        <h5>Username</h5>
        <h6 th:text="${profile.userName}">John Doe</h6>
        <hr>
        <h4>Contacts</h4>
        <h5>Email</h5>
        <h6 th:text="${profile.contact.emails}">John Doe</h6>
        <h5>Phone number</h5>
        <h6 th:text="${profile.contact.cellNumber}">John Doe</h6>
        <hr>
        <h4>Address</h4>
        <h6 th:text="${profile.address.street}">John Doe</h6>
        <h6 th:text="${profile.address.city}">John Doe</h6>
        <h6 th:text="${profile.address.postalCode}">John Doe</h6>
        <h6 th:text="${profile.address.state}">John Doe</h6>
        <h6 th:text="${profile.address.country}">John Doe</h6>
        <h6 th:text="${profile.address.additionalDetails}">John Doe</h6>
        <hr>
    </div>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>