<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="register-container">
<form th:action="@{/register}"
      th:object="${dto}"
      method="post"
        >
    <div class="card" style="width: 350px; display: flex; margin: 45px 20px; margin-left: 40%; align-items: center; border:none; border-color: black; border-radius:10px; ">
        <div class="card-body" style="width: 350px; border:none;">
            <h5>Full Name</h5>
            <input class="input" type="text" th:field="${dto.profile.fullName}" id="fullName" name="fullName" placeholder="Enter your Full Name">

            <h5>UserName</h5>
            <input class="input" type="text" th:field="${dto.profile.userName}" id="userName" name="reg-username" placeholder="Enter your Username">

            <h5>Email</h5>
            <input class="input" type="email" th:field="${dto.contact.emails}" id="emails" name="email" placeholder="Enter your email">

            <h5>Phone Number</h5>
            <input class="input" type="text" th:field="${dto.contact.cellNumber}" id="cellNumber" name="phone" placeholder="Enter your Phone Number">

            <h5>Date Of Birth</h5>
            <input class="input" type="date" th:field="${dto.profile.dateOfBirth}" id="dateOfBirth" name="date-of-birth" placeholder="Enter your Date Of Birth">

            <h5>Gender</h5>
            <div class="gender-row" >
                <input type="radio" th:field="${dto.profile.gender}" id="male" name="gender" value="MALE" checked="checked" >
                <label for="male">Male</label>
                <input type="radio" th:field="${dto.profile.gender}" id="female" name="gender" value="FEMALE" >
                <label for="female">Female</label>
                <input type="radio" th:field="${dto.profile.gender}" id="other" name="gender" value="OTHER" >
                <label for="other">Other</label>
            </div>

            <fieldset>
                <h5>Address</h5>
                    <h5>Street</h5>
                    <input class="input-address" type="text" th:field="${dto.address.street}" id="street" name="street" placeholder="Enter street name">

                    <h6>City</h6>
                    <input class="input-address" type="text" th:field="${dto.address.city}" id="city" name="city" placeholder="Enter city name">

                    <h6>Postal Code</h6>
                    <input class="input-address" type="text" th:field="${dto.address.postalCode}" id="postalCode" name="postal-code" placeholder="Enter postal code">

                    <h6>State/Province</h6>
                    <input class="input-address" type="text" th:field="${dto.address.state}" id="state" name="state" placeholder="Enter state">

                    <h6>Country</h6>
                    <input class="input-address" type="text" th:field="${dto.address.country}" id="country" name="country" placeholder="Enter your Country">

                    <h6>Additional Details</h6>

                <textarea class="additional-address" th:field="${dto.address.additionalDetails}" id="additionalDetails" name="additional-details" cols="50" placeholder="Enter Additional details"></textarea>

            </fieldset>

            <h6>Password</h6>
            <input class="input" type="password" th:field="${dto.profile.password}" id="password" name="reg-password" placeholder="Enter your Password" required>
            <input style="margin-top: 1rem;" class="input" type="password" id="confirm-password" name="confirm-password" oninput="check(this)" placeholder="Confirm Password" required>
            <script>
                function check(input){
                    if (input.value != document.getElementById('password').value) {
                        input.setCustomValidity('Passwords must match.');
                    }
                    else{
                        input.setCustomValidity('');
                    }
                }
            </script>

            <BUTTON class="register-btn" type="submit" id="submit" name="submit">Register</BUTTON><br>
            <hr>
            <a style="font-size: 13px;" th:href="@{/login}">Registered? Click to here login</a>
        </div>
    </div>
</form>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>