<!doctype html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{/fragments/head.html :: head}">
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="home-container">
    <h2>This is my Items Page</h2>
    <div class="card rounded-0 shadow p-3 mb-5 bg-white rounded" style="width:250px; display: inline-block; margin: 45px 20px" th:each="item : ${items}">
        <img class="card-img-top" src="images/avatar-user.png" alt="Card image">
        <div class="card-body">
            <h4 class="card-title" th:text="${item.itemName}">John Doe</h4>
            <p class="card-text" th:text="${item.itemPrice}">Some example text.</p>
            <p class="card-text" th:text="${item.category}">Some example text.</p>
            <p class="card-text" th:text="${item.itemDescription}">Some example text.</p>
            <ul class="nav justify-content-center nav-justified">
                <li class="nav-item">
                    <a class="fa-solid fa-trash" href="" data-bs-toggle="modal" data-bs-target="#myModal" style="color: red; cursor: pointer"  ></a>
                </li>
                <li class="nav-item">
                    <a class="fa-solid fa-pencil" th:href="@{/edit-item-{id}(id=${item.itemId})}" style="text-decoration: none;"></a>
                </li>
            </ul>
        </div>
        <!-- Modal class -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to delete this Item?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a th:href="@{/view-my-items/{id}/delete(id=${item.itemId})}"><button type="button" class="btn-danger">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
</div>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>